.btn-register {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 140px;
  font-size: 12px;
  background-color: #c4c4c4;
  border-radius: 70px;
  border: none;
}
.btn-register:hover {
  background-color: gray;
  color: white;
  box-shadow: 0px 5px 5px #999999;
}
.btn-register:active {
  background-color: #c4c4c4
}